body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.tela {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh; /* Define a altura para ocupar toda a tela */
}

.container-titulo {
    margin-top: 4rem;
    align-self: flex-start;
}

.titulo {
    
    font-size: calc(3rem + 1vw);
    font-weight: bold;
    color: #5EC9CC;
}
.github, .linkedin{
   
    font-size: 1rem;
    text-align: center;
    margin-left: 3rem;
    text-decoration: none; 
    
}
.container-descricao {
    display: none;
    margin-bottom: 10px;
    color: #5EC9CC;
}

.descricao {
    font-size: 3rem;
}

.container-imagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.container-redessociais {
 
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centralize verticalmente na tela inteira */
}




.image1{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 9rem; /* Largura do retângulo */
    height: 3rem; /* Altura do retângulo */
    border-radius: 4rem;
    border: 2px solid #5EC9CC; 
    background-color: black;

}
.image2{
    margin-top: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 9rem; /* Largura do retângulo */
    height: 3rem; /* Altura do retângulo */
    border-radius: 4rem;
    border: 2px solid #5EC9CC; 
    background-color: black;

}
@media (max-width: 148px){
    .image1, .image2{
        width: 9rem; /* Largura do retângulo */
        height: 3rem; /* Altura do retângulo */
    }
    .github, .linkedin{
       
        max-width: 100%;
        font-size: 0.5rem;
        text-align: center;
        margin-left: 3rem;
        
    }
}
@media (min-width: 302px){
    .image1, .image2{
        width: 12rem; /* Largura do retângulo */
        height: 4rem; /* Altura do retângulo */
    }
    .github, .linkedin{
       
        max-width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 3rem;
        
    }
}

@media (max-width: 414px) {
    .container {
        max-width: 90%;
    }

    .imagens-lado-a-lado {
        flex-direction: column;
    }

    .imagens-lado-a-lado img {
        width: 100%;
        margin: 10px 0;
    }

    .titulo {
        font-size: calc(2rem + 1vw);
    }

    .descricao {
        font-size: 14px;
    }
    .image1, .image2{
        width: 12rem; /* Largura do retângulo */
        height: 4rem; /* Altura do retângulo */
    }
    .github, .linkedin{
        max-width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 3rem;
        
    }

}
@media (min-width: 414px) and (max-width: 768px){
    .image1, .image2{
        width: 18rem; /* Largura do retângulo */
        height: 6rem; /* Altura do retângulo */
    }
    .github, .linkedin{
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-left: 3rem;
        
    }

}

@media (min-width: 768px) and (max-width: 1200px){
    .container {
        max-width: 90%;
    }

    .imagens-lado-a-lado {
        flex-direction: column;
    }

    .imagens-lado-a-lado img {
        width: 100%;
        margin: 10px 0;
    }

    .titulo {
        font-size: calc(4rem + 1vw);
    }

    .descricao {
        font-size: 14px;
    }
    .image1, .image2{
        width: 21rem; /* Largura do retângulo */
        height: 7rem; /* Altura do retângulo */
    }
    
    .github, .linkedin{
        max-width: 100%;
        font-size: 3rem;
        text-align: center;
        margin-left: 3rem;
        
    }
}
@media (min-width: 1200) {
    .container {
        max-width: 90%;
    }

    .imagens-lado-a-lado {
        flex-direction: column;
    }

    .imagens-lado-a-lado img {
        width: 100%;
        margin: 10px 0;
    }

    .titulo {
        font-size: calc(5rem + 1vw);
    }

    .descricao {
        font-size: 14px;
    }
    .image1, .image2{
        width: 27rem; /* Largura do retângulo */
        height: 9rem; /* Altura do retângulo */
    }
    
    .github, .linkedin{
        max-width: 100%;
        font-size: 4rem;
        text-align: center;
        margin-left: 3rem;
        
    }
}
